body {
    margin: 0px;
    background-color: #f8f5f2;
} 
h1, h2{
    font-family: 'Elsie', cursive;
    color : #004d47;
    text-align: center;
    margin-top: 50px;
}
a{
    font-family: 'Lustria', serif;
    color : #004d47;
    font-weight: bold;
}
p{
    font-family: 'Lustria', serif;
    color : #128277;
}
